{% extends "layout.html.twig" %}

{% block container %}

    <div class="block-header">

        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="{{ path('homepage') }}">Inicio</a></li>
            <li class="active">Playlists</li>
        </ol>

    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Playlists
                    </h2>
                </div>
                <div class="body">
                        {% for playlist in playlists %}
                            <p>
                                <a href="{{ path('playlist', { id : playlist.id, nome : playlist.nome }) }}">{{ playlist.nome }}</a>
                            </p>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}