{% extends 'base.html.twig' %}

{% block css %}{% endblock %}

{% block content %}

    {% include 'sidebars.html.twig' %}

    <section class="content" style="margin-top: 0">
        <div class="container-fluid">
            {% block container %}{% endblock %}
        </div>
    </section>

{% endblock %}

{% block js %}{% endblock %}
