{% extends 'base.html.twig' %}

{% block content %}

    {% include 'sidebars.html.twig' %}

    <section class="content">
        <div class="container-fluid">
            {% block container %}{% endblock %}
        </div>
    </section>

{% endblock %}
