<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %}</title>
    {% include 'css.html.twig' %}
</head>
<body class="{% block pageStyle %}{% endblock %}">

{% block content %}{% endblock %}
{% include 'js.html.twig' %}
</body>
</html>